* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}





/* Header section Styles */

.header {

    background-color: rgba(229, 84, 115, 0.10);
    padding: 100px 100px 0px 100px;

}

.header-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.header-img {
    width: 635px;
}

.header-title {
    color: #272727;
    font-size: 70px;
    font-weight: 800;
}


.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 10px 5px;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 15px 20px;
}


/* Featured flowers Styles */

.featured-caption {
    margin: 170px auto 50px;
    text-align: center;
    width: 549px;

}

.featured-title {
    margin-top: 10px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}


.featured-flowers {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;

}

#featured-1 {
    padding: 30px 30px 0px 30px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    height: 427px;

}

#featured-2 {
    padding: 30px 30px 0px 30px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    height: 427px;
}

#featured-3 {
    padding: 30px 30px 0px 30px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    height: 427px;


}


#flower-2 {
    width: 285px;

}

#flower-3 {
    width: 285px;

}


.featured-content {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.featured-content>p {
    margin-top: 10px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}


/* Discount part */
.text-primary {
    color: #E55473;
}

.discount {
    background: rgba(229, 84, 115, 0.05);
    margin-top: 100px;

}

.discount-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;


}


.discount-caption {
    width: 500px;
    text-align: center;
}


.discount-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.discount-description {
    margin-top: 10px;
    margin-bottom: 10px;
}




/* Social Media Items */

.social-media {
    max-width: 1440px;
    margin: 100px auto;
    text-align: center;
}


.social-media-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}


.social-media-description {
    width: 400px;
    margin: 10px auto;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.social-media-pictures {
    display: flex;
    gap: 50px;
}


/* get update */

.get-update {
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    background-image: url('../FlowerAsset/Rectangle\ 9.png');
    height: 448px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.get-update-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}


.get-update-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}


#email {
    margin: 10px 5px 0;
    padding: 15px;
    width: 450px;
    font-size: 20px;

}



/* Footer section */


.footer {
    background: #111010;

}


.footer-container {
    width: 600px;
    color: white;
    height: 500px;
    max-width: 1440px;
    margin: 100px auto 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


.footer-title {
    font-size: 48px;
    font-weight: 800;
    margin: 25px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 25px;
}

.copy-right {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    margin: 80px;
}

